@charset "utf-8";

/* ==============　ページ全体の書式指定　============== */
*{
    margin: 0px;
    padding: 0px;
    
}
body{
    background-image:url("ねぽらぼ.jpg");
    background-size: 10%;
    height: auto;
}
#container{
    width: 1200px;
    height: 50%;
    margin: 0px auto;
    background-color: #FFFFFF;
    border-left: 0px solid #0dd5d5;
    border-right: 0px solid #0bd4d4;
}

/* ===============　ヘッダーの書式指定　=============== */
header{
    height: 200px;
    padding: 20px;
    padding-bottom: 30px;
    width: auto;
    background-image: url("５期生.png");
}
#header-title{
    background: linear-gradient(90deg, #04f3fc, #51ced0 , #08eefa);
  background: -webkit-linear-gradient(50deg, #01d6fb, #070ff7 , #00eeff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    font: bold 44px sans-serif;
}

/* ===============　メニューの書式指定　=============== */
nav ul{
    list-style-type: none;
    display: flex;
    background-color:rgb(243, 29, 5);
}
nav a{
    display: block;
    width: 200px;
    padding: 10px 20px ;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
    font: bold 14px/20px sans-serif;
}
nav a:hover{
    background-color: #f82e06;
}

/* ================　メインの書式指定　================ */
#main{
    padding: 30px;
    

}

/* ================　各要素の書式指定　================ */
h1{
    background-color: #fd180c;
    border-radius: 5px;
    border-left: solid 15px #b62606;
    padding: 6px 10px 4px;
    margin-bottom: 20px;
    box-shadow: 5px 5px 10px #999999;
    font: bold 18px sans-serif;
    color: #FFFFFF;
}
li {
    display: inline-block;
    justify-content: space-between;
    }
    img{
        width: 100%;
    }
.p2{
    display: inline-block;
    justify-content: space-between;
}
.box12{
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #f8f8f8;
    background: #ff0e02;
    border-radius: 9px;
}
.box12 p {
    margin: 0; 
    padding: 0;
}
.flame21{
    padding: 10px;
    margin: 20px;
    width: auto;
    background: #f00606;
    box-shadow: 0px 0px 0px 10px #f00606;
    border: 2px dashed #fff;
    text-align: center;
    color: #ffffff;
    }
    a{
        text-decoration: none;
    }
    .scroll-up {
        opacity: 0; 
        visibility: hidden;
        transform: translateY(50px);
        transition: all 1s;
      }
      .scroll-up.is-show {
        opacity: 1;
        visibility: visible;
        transform: translateY(0px);
      }





/* ===============　フッターの書式指定　=============== */
footer{
    background-color: #f80c00e3;
    padding: 10px;
    font: 12px sans-serif;
    text-align: right;
    color: #eff1f1;
}
